# Class files
*.class

# Package Files
*.jar
*.war
*.ear

# Target folder
target/
logs/
output-bin/
dist/

# Eclipse files
.classpath
.metadata
.project
.springBeans
*.launch

# Eclipse folders
.externalToolBuilders/
.recommenders/
.settings/
.sonar/
/testbin/
/bin/
